@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row">
        <span>
            Secure Digits Plus LLC - Dynamically Engineered Digital Security
            <a href="https://github.com/mcc85sx/FightingEntropy" target="_blank">FightingEntropy</a>
        </span>
    </div>

    <div class="content">
        @Body
    </div>
</div>