@page "/"

<div class = "header banner" />

<div class = "subject">

    <p>
        This site is undergoing some renovations and changes to add new features.<br /><br />

        It is currently running a preview build of .Net 3.1 featuring Blazor/WebAssembly.<br /><br />

        There *will* be several additional 'full-stack' design and function changes that integrate PowerShell Web Services.
    </p>

</div>



