@page "/item6"

<div class="header hd-i item6"></div>

<div class="subject">
    
    <p>
        This is the bread and butter for all subjects that involve security, networking, applications- it's *all about the data*.
        <br /><br />

        *Not all data is created equally*. It can be condensed, compacted, rearranged, optimized, transferred, received, copied,
        deleted, skewed, manipulated, multiplied, striped, mirrored, cloned, duplicated, pulled from a buffer, used to spike traffic,
        used to hack, used to falsify information, used to verify information, used to make transactions, purchase goods or services,
        the list of what data can do is *seemingly endless*.<br /><br />

        When it comes to *optimizing data* and being able to *better allocate resources* that can either generate revenue, or save
        a massive amount of resources such as time and money, well... that's what this company is all about... Making every effort
        to protect the accuracy of digital information, but also... to safeguard the lives of those who depend on it's accuracy.
    </p>
    
</div>
