@page "/item2"

<div class="header hd-i item2"></div>

<div class="subject">

    <p>
        Network Security and Information Systems Security, all rely on good system administration and engineering.<br /><br />

        But it can all fall apart, no matter how well built any system is, if the applications that it uses are not secure.
        In terms of Applications, there are a great deal of things that can go wrong... However, that's not the only thing to be
        concerned with when it comes to Network Security. In fact, Information Systems Security is a tough job to do correctly.<br /><br />

        Because, firmware and hardware are also exceptionally critical in order to correctly, and carefully, provision safeguards
        that can protect any given network. It is the foundation of these elements, and whether they were implemented correctly, that
        can make or break the security of any network *without even breaking a sweat*.<br /><br />
        
        Sometimes, checksums and UEFI signatures can be invalid. That means, hardware manufacturers can in fact tell you that their 
        firmware is just fine, *even when it isn't*. Therefore, software and auditing is *necessary* to be able to validate whether 
        or not a hardware vendor could in fact be lying to your face about how fine the firmware really is. *It happens*
    </p>
    
</div>