@page "/item3"

<div class="header hd-i item3"></div>

<div class="subject">

    <p>
        Managing company resources relies on a lot of careful fine tuning and optimization.<br /><br />

        When it comes to the Corporate world, Active Directory takes the cake. Whether a business is utilizing a single domain, or
        an array of them, Active Directory can help manage the security and distribution of resources and access policies, applications,
        communications, etc.<br /><br />

        There have been a lot of different tools and services, both developed and implemented that can assist with careful domain
        planning and structuring. Microsoft's Active Directory *has to offer the corporate world*, but there are also non-Microsoft based
        operating systems like Red Hat Enterprise Linux ( RHEL/CentOS ) and even BSD, which you can also use to manage company resources.<br /><br />

        Another subject worth mentioning is managing any amount of data with Structured Query Language ( SQL ), which many companys use
        to maintain records of their clientele and/or patients, in addition to libraries of inventory or auditing records. When it comes
        to provisioning safeguards for any company, business, or organization, Active Directory and SQL are a great start.
    </p>
    
</div>