@page "/item4"

<div class="header hd-i item4"></div>

<div class="subject">

    <p>
        Operating Systems Management and Virtualization tend to go hand in hand these days.<br /><br />

        Keeping an Active Directory Domain up to date in a secure fashion, *is not the easiest thing in the world to manage*. Some tools
        that can help accomplish that are System Center Configuration Manager, and the Microsoft Deployment Toolkit.<br /><br />
        
        These tools leverage the use of Windows Deployment Services and in some cases, Windows Server Update Services, as well as Image 
        and Configuration Designer, System Image Manager, and the like... Most of these tools rely on a rock solid system.<br /><br />

        In addition, nothing helps a company or it's staff more than being able to test any changes to an environment, or allocate secure
        remote workstations more than Virtualization. Virtualization is a manner of utilizing software/applications to reconstruct a fully
        functional machine on a given host system. Whether Virtualization is provided through Hyper-V, VMWare, or Oracle... (there are plenty
        more), these tools are an effective 1-2 punch in testing and validating software, updates, and maintaining quality assurance.
    </p>
    
</div>

