@page "/item5"

<div class="header hd-i item5"></div>

<div class="subject">

    <p>
        Hardware Security is a manner of ensuring that firmware is updated, and engineered to be continually updated.
        It's not a concept that many people think about, until you mention that a lot of hacks and exploits happen to be able to
        circumvent any given system or network... Sometimes hardware giants like Lenovo and Intel manage to consistently fail at
        protecting their customers, and yet, people continue to purchase their products anyway.<br /><br />

        Depending on how well the operators/hackers know it's engineering, and how many hidden CVE's are lurking waiting to be found,
        sometimes these critical vulnerabilities and exposures (CVE's) can go for *years* before they are even detected or reported. 
        Hence Meltdown/Spectre/Cambridge Analytica... There's a long list of companies and people that say they do a good job, but then
        again, it's hard to trust companies that sell your data without your consent.<br /><br />

        Data Recovery/Forensics uses some abstract concepts to rebuild data on a given hard drive, whether it is all there or not, 
        it can still be reconstructed with the proper tools. Even in cases where a drive may be physically damaged, (dependent on *how*
        damaged it is,) it is still possible to rebuild data from successive samples and approximating data/file types. It's a lot like
        filling out a crossword puzzle... With enough clues, you can figure out what the evidence says.
    </p>
    
</div>