@page "/item1"

<div class = "header hd-i item1"></div>

<div class="subject">

    <p>
        Many conventionally developed applications use an assortment of languauges, such as JavaScript & Java, C# / C++ / C,
        Python, Ruby, Haskell, and the list goes on. However, it doesn't seem very fair to exclude *PowerShell* from that list.<br /><br />

        PowerShell is capable of performing many of the same things as JavaScript & C#, as it is able to utilize the .NET Framework CLR
        and access all components of a Windows Operating System, not to mention it is also cross-platform and open source, and can leverage
        GUI elements that are featured in Windows Presentation Foundation.<br /><br />

        While it is true that PowerShell is primarily and conventionally used as a scripting and systems management language..? It is also
        true, that it can be used as a very powerful development tool. Not to mention, when you need heroes in a half shell? You get 
        *Turtle Power*.<br /><br />

        Needless to say, it's a pretty badass way to get stuff done. Hence, it is this company's preferred language of choice. And by the 
        way... You don't wanna mess with the Turtles, bro. They'll mess you up. So can PowerShell... So be nice.
    </p>

</div>